<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phalaenopsis.pjmapspot.dao.PjMapSpotDao" >


    
     <update id="flowAudit" parameterType="phalaenopsis.pjmapspot.bean.PjMapSpotFlowAuditBean" >
        update PJ_MAPSPOT
        <set > 
            <if test="cityState != null" >
                CITY_STATE = #{cityState},
            </if>
            <if test="cityAudit != null" >
                CITYIS_AUDIT = #{cityAudit},
            </if>
             <if test="cityApproveName != null and cityApproveName!='' " >
                CITY_APPROVE_NAME = #{cityApproveName},
            </if>
            <if test="cityApproveRemark != null and cityApproveRemark!='' " >
                CITY_APPROVE_REMARK = #{cityApproveRemark},
            </if>
            <if test="cityState ==3" >
                FILL_STATE = null,
            </if>
            CITY_APPROVE_TIME = sysdate
        </set>
        where ID = #{id}
    </update>

    <select id="listPjMapSpot" parameterType="map" resultType="PjMapSpot">
        select * from( select rownum as num, t.* from PJ_MAPSPOT t  where
        <include refid="queryCondition"/>
        )t where t.num between #{startNum} and #{endNum}
    </select>

    <sql id="queryCondition">
        1=1

        <if test=" year!=null ">
            and t.year = #{year}
        </if>

        <if test="spotType == 0">
          and (t.FILL_STATE = 0 or t.FILL_STATE is null)  and t.remark = '可调'
        </if>

        <if test="spotType == 1 or spotType == 2">
            and t.FILL_STATE = #{spotType}  and t.remark = '可调'
        </if>

        <if test="spotType == 3">
            and t.remark  is null
        </if>

        <if test="city != null">
            and t.CITY = #{city}
        </if>

        <if test="county != null">
            and t.county = #{county}
        </if>

        <if test="cityAudit == 0">
            and (t.CITYIS_AUDIT = 0 or t.CITYIS_AUDIT is null) and t.remark = '可调'
        </if>

        <if test="cityAudit == 1">
            and t.CITYIS_AUDIT = 1  and t.remark = '可调'
        </if>

        <if test="spotNumber != null">
            and t.spot_number like '%'||#{spotNumber}||'%'
        </if>

        <if test="isBefore09 == 0">
            and t.remark is null
        </if>

        <if test="isBefore09 == 1">
            and t.remark = '可调'
        </if>

        <if test="auditState != null">
            and t.CITY_STATE = #{auditState}
        </if>

        <if test="isCounty != null">
            and t.county in (   select t.region_id from pj_regionflow t where t.region_id in (
            select t.regionid from ss_region t where t.parentid =  #{isCounty}) and t.state = 1)
        </if>

        <if test="isProvince != null">
            and t.city in (
            select t.region_id from pj_regionflow t where t.region_id in (
            select t.regionid from ss_region t where t.parentid =  #{isProvince}) and t.state = 2)
        </if>
    </sql>

    <select id="countPjMapSpot" parameterType="map" resultType="integer">
        select count(*) from PJ_MAPSPOT t where
        <include refid="queryCondition"/>
    </select>

    <select id="getPjMapSpot" parameterType="long" resultType="PjMapSpot">
        select * from Pj_Mapspot t where t.id = #{id}
    </select>
    
	<select id="listMapSpot" parameterType="map" resultType="PjMapSpot">
        select t.DISTRICT_COUNTY as districtCounty,t.DISTRICT_COUNTY_NAME as districtCountyName,t.COUNTY_NAME as countyName ,t.SPOT_NUMBER as spotNumber,
				t.IDENTIFICATION_CODE as identificationCode, t.OWNERSHIP_DEPARTMENT_NAME as ownershipDepartmentName, t.LOCATED_DEPARTMENT_NAME as locatedDepartmentCode, 
				t.LANDTYPE_NAME	as landtypeName, t.APPROVAL_FILE as approvalFile, t.ACREAGE as acreage, t.ARABLE_LAND_AREA_AFTER as arableLandArea, 
				t.ADJUSTABLE_AREA as adjustableArea, t.REMARK as remark  
 		from (select c.*,  rownum num from Pj_Mapspot c 
 		where 1 = 1  
 		<if test="year!=null and year!=''">
			and c.year = #{year}
		</if>
		<if test="city!=null and city!=''">
			and c.city  = #{city}
		</if>
		<if test="county!=null and county!=''">
			and c.county = #{county} 
		</if>
		<if test="isBefore==1">
			and c.year <![CDATA[<]]> 2009 
		</if>
		<if test="isBefore==0">
			and c.year <![CDATA[>=]]> 2009 
		</if> 
		<if test="orgGrade==2" >
            and c.city = #{regionId} and c.county in (select region_id from PJ_REGIONFLOW  where state in(1,2,4))
        </if>
        <if test="orgGrade==3" >
            and c.city in (select region_id from PJ_REGIONFLOW  where state = 2) 
        </if>
         order by c.province,c.city,c.county) t where num between #{startNum} and #{endNum}
    </select>
    
    <select id="listMapSpotCount" parameterType="map" resultType="Integer">
        select count(*) from Pj_Mapspot c 
 		where 1 = 1  
 		<if test="year!=null and year!=''">
			and c.year = #{year}
		</if>
		<if test="city!=null and city!=''">
			and c.city  = #{city}
		</if>
		<if test="county!=null and county!=''">
			and c.county = #{county} 
		</if>
		<if test="isBefore==1">
			and c.year <![CDATA[<]]> 2009 
		</if>
		<if test="isBefore==0">
			and c.year <![CDATA[>=]]> 2009 
		</if> 
		<if test="orgGrade==2" >
            and c.city = #{regionId} and c.county in (select region_id from PJ_REGIONFLOW  where state in(1,2,4))
        </if>
        <if test="orgGrade==3" >
            and c.city in (select region_id from PJ_REGIONFLOW  where state = 2) 
        </if>
    </select>
    
    <select id="getPJMapSpotInfo" parameterType="long" resultType="PjMapSpot">
    	select t.SPOT_NUMBER as spotNumber, t.IDENTIFICATION_CODE as identificationCode, t.OWNERSHIP_DEPARTMENT_NAME as ownershipDepartmentName, 
           t.LOCATED_DEPARTMENT_NAME as locatedDepartmentCode, t.LANDTYPE_NAME  as landtypeName, t.APPROVAL_FILE as approvalFile, t.ACREAGE as acreage, 
           t.JSYDTHMJ as jsydthmj, t.ARABLE_LAND_AREA as arableLandArea, t.ADJUSTABLE_AREA as adjustableArea, t.ARABLE_LAND_AREA_AFTER as arableLandAreaAfter,
           t.ADJUSTABLE_AREA_AFTER as adjustableAreaAfter, t.CITY_STATE as cityState, t.CITY_APPROVE_REMARK as cityApproveRemark, t.CITY_APPROVE_NAME as cityApproveName, 
           t.CITY_APPROVE_TIME as cityApproveTime, t.CITYIS_AUDIT as cityisAudit, t.FILL_STATE as fillState, t.REMARK as remark     
		from pj_mapspot t where t.id = #{id}
    </select>
    
    <select id="getPJMapSpotFlowInfo" parameterType="long" resultType="PjMapSpot">
        select t.SPOT_NUMBER as spotNumber, t.IDENTIFICATION_CODE as identificationCode, t.OWNERSHIP_DEPARTMENT_NAME as ownershipDepartmentName, 
       		t.LOCATED_DEPARTMENT_NAME as locatedDepartmentCode, t.LANDTYPE_NAME  as landtypeName, t.APPROVAL_FILE as approvalFile, t.ACREAGE as acreage,
      		t.JSYDTHMJ as jsydthmj ,t.ARABLE_LAND_AREA as arableLandArea, t.ADJUSTABLE_AREA as adjustableArea, t.ARABLE_LAND_AREA_AFTER as arableLandAreaAfter,
        	t.ADJUSTABLE_AREA_AFTER as adjustableAreaAfter, t.CITY_STATE as cityState, r.APPROVE_INFO as cityApproveRemark, r.APPROVE_NAME as cityApproveName, r.APPROVE_TIME as cityApproveTime  
        from pj_mapspot t ,pj_regionflow r where t.county = r.region_id and r.state = 3 and t.id = #{id}
    </select>
    
    <update id="updatePJMapSpotInfo" parameterType="PjMapSpot" >
        update PJ_MAPSPOT 
        <set >
            <if test="arableLandAreaAfter != null" >
                ARABLE_LAND_AREA_AFTER = #{arableLandAreaAfter,jdbcType=DECIMAL},
            </if>
            <if test="adjustableAreaAfter != null" >
                ADJUSTABLE_AREA_AFTER = #{adjustableAreaAfter,jdbcType=DECIMAL},
            </if>
            FILL_STATE = 1 
        </set>
        where ID = #{id}
    </update>
    <update id="updatePJMapSpotInfoed" parameterType="PjMapSpot" >
        update PJ_MAPSPOT 
        <set >
            <if test="arableLandAreaAfter != null" >
                ARABLE_LAND_AREA_AFTER = #{arableLandAreaAfter,jdbcType=DECIMAL},
            </if>
            <if test="adjustableAreaAfter != null" >
                ADJUSTABLE_AREA_AFTER = #{adjustableAreaAfter,jdbcType=DECIMAL},
            </if>
            FILL_STATE = 2 
        </set>
        where ID = #{id}
    </update>
    
    <select id="getPJMapSpotCountyReport" parameterType="map" resultType="PjMapSpotReport">
    	select county as regionId, county_name as name, (select state from pj_regionflow where region_id = #{regionId} and year = #{year}) regionState,
        count(case when FILL_STATE = 2 and  REMARK = '可调' then 1 end) passCount ,
        count(case when nvl(FILL_STATE,0)<![CDATA[<>]]>2 and  REMARK = '可调' then 1 end) amount,
        count(case when REMARK = '可调' then 1 end) adjustmentTotal ,
        count(case when 1=1 then 1 end) total ,
        count(case when 1=1 then 1 end) isReportNum   
        from pj_mapspot
		where county = #{regionId} and year = #{year} group by county ,county_name
    </select>
    
    <select id="getPJMapSpotReport" parameterType="map" resultType="PjMapSpotReport">
    	select t.county as regionId, t.county_name as name, (select state from pj_regionflow where region_id =#{regionId} and year = #{year}) regionState,
        count(case when t.CITY_STATE = 2 and  t.REMARK = '可调' then 1 end) passCount ,
        count(case when t.CITY_STATE = 3 and  t.REMARK = '可调' and t.CITYIS_AUDIT = 1 then 1 end) unPassCount ,
        count(case when nvl(t.CITY_STATE,0)<![CDATA[<>]]>2 and  t.REMARK = '可调' then 1 end) amount,
        count(case when t.REMARK = '可调' then 1 end) adjustmentTotal ,
        count(case when 1=1 then 1 end) total ,
        count(case when  county in (select region_id from pj_regionflow where state in(1,2,4) and year = #{year})  then 1 end) isReportNum   
         from pj_mapspot t
		where t.city = #{regionId}  and t.year = #{year} group by t.county ,t.county_name
    </select>
    
    <select id="getPJMapSpotIsReport" parameterType="map" resultType="PjMapSpotReport">
    	select * from pj_regionflow where region_id =#{regionId} and year = #{year} and state in(1,2)
    </select>
    
    <select id="getPJMapSpotProReport" parameterType="String" resultType="PjMapSpotReport">
    	select t.city as regionId ,(select regionname from ss_region where regionid = t.city ) name, (select state from pj_regionflow where region_id =t.city and year = #{year}) regionState,
        count(case when t.CITY_STATE = 2 and  t.REMARK = '可调'  then 1 end) passCount ,
        count(case when t.CITY_STATE = 3 and  t.REMARK = '可调' and t.CITYIS_AUDIT = 1 then 1 end) unPassCount ,
        count(case when nvl(t.CITY_STATE,0)<![CDATA[<>]]>2 and  t.REMARK = '可调'  then 1 end) amount,
        count(case when t.REMARK = '可调'  then 1 end) adjustmentTotal ,
        count(case when 1=1 then 1 end) total ,
        count(case when  t.city in (select region_id from pj_regionflow where state = 2 and year = #{year})  then 1 end) isReportNum  
        from pj_mapspot t
    	where 1 = 1  and year = #{year} group by t.city 
    </select>
    
    <select id="getUnPJMapSpotReport" parameterType="map" resultType="PjMapSpotReport">
    	select r.*,r.regionname as name from ss_region r where r.regiontype in(1,2) and r.rank = 2 and r.parentid =#{regionId}
   		and r.regionid not in (select county from pj_mapspot where city = #{regionId} and year = #{year}) 
    </select>
    
    <select id="getRegionTree" parameterType="String" resultType="phalaenopsis.common.entity.Region">
		<!-- select * 
   		from ss_region START WITH regionid=#{parentID} 
    	CONNECT BY PRIOR PARENTID=regionid order by ParentID, Rank -->
    	select * 
   		from ss_region START WITH regionid=(select regionid from ss_region where parentid = 0) 
    	CONNECT BY PRIOR regionid=PARENTID order by ParentID, Rank
    </select>
    
    <select id="getPjMapSpotYear" resultType="String">
		select distinct year from pj_mapspot t 
    </select>
</mapper>