<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phalaenopsis.pjmapspot.dao.PjRegionFlowLogDao" >

	<!-- 保存或更新 -->
	<insert id="saveOrUpdate"  parameterType="java.util.List" >
		INSERT INTO PJ_REGIONFLOWLOG(ID,REGIONID,STATE,APPROVE_INFO,APPROVE_NAME,APPROVE_TIME,YEAR) 
				SELECT SEQ_PJ_REGIONFLOWLOG.NEXTVAL as ID,A.*
				FROM(
					<foreach collection="listPjMapSpotBean" item="item" index="index" separator="UNION ALL" >  
	       			 	select #{item.regionId} as REGIONID,
	       			 	#{item.state} as STATE,#{item.approveInfo} as APPROVE_INFO,
	       			 	#{item.approveName} as APPROVE_NAME,sysdate as APPROVE_TIME,#{item.year}  as YEAR
	       			 	FROM DUAL
	   				</foreach>  
	   				)A
	</insert>
	
	
</mapper>