<div ng-if="false">
    <div ng-class="{true: 'regluation_index_top_select', false: 'regluation_index_top_normal'}[clickValue=='law']">
        <ul>
            <div ng-click="clickType('law')">法律标准</div>
        </ul>
    </div>
    <div ng-class="{true: 'regluation_index_top_select', false: 'regluation_index_top_normal'}[clickValue=='tec']">
        <ul>
            <div ng-click="clickType('tec')">技术文档</div>
        </ul>
    </div>
    <div class="regluation_index_top_line"></div>
</div>

<div style="margin-top:10px;">
    <!--统计分类-->
    <div class="clear usercenter_left" style="margin-top:0px;" resize-index-content ng-style="setStatisticHeightStyle()">

        <div ng-repeat="item in MenuItmes" ng-class="{true:'menu_select',false:'menu'}[clickMenuValue==item.Name]" ng-click="clickMenu(item)">
            <span>{{item.Name}}</span>
        </div>

    </div>

    <!--统计区域-->
    <div class="statistic_right">

        <div ng-if="clickMenuValue == '按上传部门统计'">
            <!--查询条件-->
            <div>
                <table class="search_table">
                    <tr height="40">

                        <td ng-if="true">
                            <span class="ml10">部门</span>
                        </td>
                        <td ng-if="true">
                            <combo-tree-select tree-data="treeDataOrg" style="float:left;z-index: 100;" tree-model="data.organizationPub" btn-show="false"
                                img-color="2" is-normal="180" tree-width="300" is-disable="false"></combo-tree-select>
                        </td>
                        <td ng-if="true">
                            <span class="ml10"> 类别分类</span>
                        </td>
                        <td ng-if="true">
                            <div ng-if="clickValue == 'law'">
                                <combo-tree-select style="width:170px;float:left" tree-data="treeDataPub" is-normal="180" tree-width="300" tree-model="data.TreeValuePub"
                                    btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                            </div>
                            <div ng-if="clickValue == 'tec'">
                                <combo-tree-select style="width:170px;float:left" tree-data="treeDataTec" is-normal="180" tree-width="300" tree-model="data.TreeValuePubTec"
                                    btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                            </div>
                        </td>
                        <td style="text-align: center;">
                             录入日期
                        </td>
                        <td colspan="2">
                            <input type="text" id="FiledTimeStartPub" class="case_table_timepicker_input" ng-model="data.FiledTimeStartPub" je-date format="YYYY-MM-DD"
                                readonly />
                            <span style="margin-left: 0px;">至</span>
                            <input type="text" id="FiledTimeEndPub" class="case_table_timepicker_input" ng-model="data.FiledTimeEndPub" je-date format="YYYY-MM-DD"
                                readonly />
                        </td>


                    </tr>

                    <tr height="40">
                        <td colspan="7">
                            <input type="button" class="normalbtn fr mr10" ng-click="searchinfo()" value="查 询" />
                            <input type="button" class="canclelbtn fr mr10" value="重 置" ng-click="reset()" />
                            <input type="button" class="normalbtn fr mr10" ng-click="exportData()" value="导 出" />
                        </td>

                    </tr>
                </table>
            </div>

            <div ng-if="clickValue == 'law'">
                <div ng-if="!loading">
                    <highchart config="OrgnameChart" style="height: 260px;"></highchart>
                </div>
                <div ng-if="!loading">
                    <table class="statistic_table">
                        <tr height="40px;">
                            <td class="statistic_tablehead">上传部门</td>
                            <td ng-repeat="item in lawOrgItems" class="statistic_tablehead">{{item.name}}</td>
                        </tr>
                        <tr height="40px;">
                            <td>数量</td>
                            <td ng-repeat="item in lawOrgItems">{{item.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" ng-if="loading">
                    <img src="images/loading.gif " />
                </div>
            </div>

            <div ng-if="clickValue == 'tec'">
                <div ng-if="!loading">
                    <highchart config="OrgnameChartTec" style="height: 260px;"></highchart>
                </div>
                <div ng-if="!loading">
                    <table class="statistic_table">
                        <tr height="40px;">
                            <td>上传部门</td>
                            <td ng-repeat="item in tecOrgItems">{{item.name}}</td>
                        </tr>
                        <tr height="40px;">
                            <td>更新技术文档数量</td>
                            <td ng-repeat="item in tecOrgItems">{{item.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" ng-if="loading">
                    <img src="images/loading.gif " />
                </div>
            </div>

        </div>

        <div ng-if="clickMenuValue == '按发布人统计'">
            <!--查询条件-->
            <div>
                <table class="search_table">
                    <tr height="40">

                        <td>
                            <span class="ml10">部门</span>
                        </td>
                        <td>
                            <combo-tree-select tree-data="treeDataOrg" style="float:left;z-index: 100;" tree-model="data.organizationPeople" btn-show="false"
                                img-color="2" is-normal="140" tree-width="300" is-disable="false"></combo-tree-select>
                        </td>
                        <td>
                            <span class="ml10">人员</span>
                        </td>
                        <td ng-if="true">
                            <div isteven-multi-select input-model="userList " output-model="data.Userid" button-label="userrealname" item-label="userrealname"
                                tick-property="Selected" search-property='userrealname' output-properties="id" translation="localLang"
                                max-labels="8" max-height="280px" style="width: 140px; float: right; margin-left: 10px;" btn-width="140">
                            </div>
                        </td>
                        <td ng-if="true">
                            <span class="ml10"> 类别分类</span>
                        </td>
                        <td>
                            <div ng-if="clickValue == 'law'">
                                <combo-tree-select style="width:170px;float:left" tree-data="treeDataPub" is-normal="140" tree-width="300" tree-model="data.TreeValuePeople"
                                    btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                            </div>

                            <div ng-if="clickValue == 'tec'">
                                <combo-tree-select style="width:170px;float:left" tree-data="treeDataTec" is-normal="180" tree-width="300" tree-model="data.TreeValuePeopleTec"
                                    btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                            </div>
                        </td>
                        <td>
                            录入日期
                        </td>
                        <td colspan="2">
                            <input type="text" id="FiledTimeStartPeople" class="case_table_timepicker_input" ng-model="data.FiledTimeStartPeople" je-date
                                format="YYYY-MM-DD" readonly />
                            <span style="margin-left: 0px;">至</span>
                            <input type="text" id="FiledTimeEndPeople" class="case_table_timepicker_input" ng-model="data.FiledTimeEndPeople" je-date
                                format="YYYY-MM-DD" readonly />
                        </td>


                    </tr>

                    <tr height="40">
                        <td colspan="9">
                            <input type="button" class="normalbtn fr mr10" ng-click="searchinfo()" value="查 询" />
                            <input type="button" class="canclelbtn fr mr10" value="重 置" ng-click="reset()" />
                            <input type="button" class="normalbtn fr mr10" ng-click="exportData()" value="导 出" />
                        </td>

                    </tr>
                </table>
            </div>

            <div ng-if="clickValue == 'law'">
                <div ng-if="!loading">
                    <highchart config="PeopleChart" style="height: 260px;"></highchart>
                </div>
                <div ng-if="!loading">
                    <table class="statistic_table">
                        <tr height="40px;">
                            <td class="statistic_tablehead">发布人</td>
                            <td ng-repeat="item in lawPeopleItems" class="statistic_tablehead">{{item.name}}</td>
                        </tr>
                        <tr height="40px;">
                            <td>数量</td>
                            <td ng-repeat="item in lawPeopleItems">{{item.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" ng-if="loading">
                    <img src="images/loading.gif " />
                </div>
            </div>

            <div ng-if="clickValue == 'tec'">
                <div ng-if="!loading">
                    <highchart config="PeopleChartTec" style="height: 260px;"></highchart>
                </div>
                <div ng-if="!loading">
                    <table class="statistic_table">
                        <tr height="40px;">
                            <td>发布人</td>
                            <td ng-repeat="item in tecPeopleItems">{{item.name}}</td>
                        </tr>
                        <tr height="40px;">
                            <td>更新技术文档数量</td>
                            <td ng-repeat="item in tecPeopleItems">{{item.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" ng-if="loading">
                    <img src="images/loading.gif " />
                </div>
            </div>
        </div>

        <div ng-if="clickMenuValue == '按类别统计'">
            <!--查询条件-->
            <div>
                <table class="search_table">
                    <tr height="40">

                        <td>
                            <span class="ml10">部门</span>
                        </td>
                        <td>
                            <combo-tree-select tree-data="treeDataOrg" style="float:left;z-index: 100;" tree-model="data.organizationType" btn-show="false"
                                img-color="2" is-normal="180" tree-width="300" is-disable="false"></combo-tree-select>
                        </td>
                        <td ng-if="true">
                            <span class="ml10"> 类别分类</span>
                        </td>
                        <td ng-if="true">
                            <div ng-if="clickValue == 'law'">
                                <combo-tree-select style="width:170px;float:left" tree-data="treeDataPub" is-normal="180" tree-width="300" tree-model="data.TreeValueType"
                                    btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                            </div>
                            <div ng-if="clickValue == 'tec'">
                                <combo-tree-select style="width:170px;float:left" tree-data="treeDataTec" is-normal="180" tree-width="300" tree-model="data.TreeValueTypeTec"
                                    btn-show="false" img-color="2" is-disable="false"></combo-tree-select>
                            </div>
                        </td>
                        <td>
                            录入日期
                        </td>
                        <td colspan="2">
                            <input type="text" id="FiledTimeStartType" class="case_table_timepicker_input" ng-model="data.FiledTimeStartType" je-date
                                format="YYYY-MM-DD" readonly />
                            <span style="margin-left: 0px;">至</span>
                            <input type="text" id="FiledTimeEndType" class="case_table_timepicker_input" ng-model="data.FiledTimeEndType" je-date format="YYYY-MM-DD"
                                readonly />
                        </td>


                    </tr>

                    <tr height="40">
                        <td colspan="7">
                            <input type="button" class="normalbtn fr mr10" ng-click="searchinfo()" value="查 询" />
                            <input type="button" class="canclelbtn fr mr10" value="重 置" ng-click="reset()" />
                            <input type="button" class="normalbtn fr mr10" ng-click="exportData()" value="导 出" />
                        </td>

                    </tr>
                </table>
            </div>

            <div ng-if="clickValue == 'law'">
                <div ng-if="!loading">
                    <highchart config="TypeChart" style="height: 260px;"></highchart>
                </div>
                <div ng-if="!loading">
                    <table class="statistic_table">
                        <tr height="40px;">
                            <td class="statistic_tablehead">类别</td>
                            <td ng-repeat="item in lawTypeItems" class="statistic_tablehead">{{item.name}}</td>
                        </tr>
                        <tr height="40px;">
                            <td>数量</td>
                            <td ng-repeat="item in lawTypeItems">{{item.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" ng-if="loading">
                    <img src="images/loading.gif " />
                </div>
            </div>

            <div ng-if="clickValue == 'tec'">
                <div ng-if="!loading">
                    <highchart config="TypeChartTec" style="height: 260px;"></highchart>
                </div>
                <div ng-if="!loading">
                    <table class="statistic_table">
                        <tr height="40px;">
                            <td>类别</td>
                            <td ng-repeat="item in tecTypeItems">{{item.name}}</td>
                        </tr>
                        <tr height="40px;">
                            <td>更新技术文档数量</td>
                            <td ng-repeat="item in tecTypeItems">{{item.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" ng-if="loading">
                    <img src="images/loading.gif " />
                </div>
            </div>
        </div>
    </div>
</div>